#!/bin/bash

#
# {{ ansible_managed }}
#
# simple linux backup script using rsync
#

declare -i EXITCODE=0
declare -r LOGFILE=/var/log/$(basename $0)

declare -r SERVICES="{{ backup_client_services | join(' ') }}"
declare -r DATABASES="{{ backup_client_databases | join(' ') }}"

if [ -z "${SSH_CLIENT}" -o -z "${SSH_CONNECTION}" -o -z "${SSH_ORIGINAL_COMMAND}" -o "${SSH_ORIGINAL_COMMAND:0:6}" != "rsync " ]; then
        echo "please run this only via rsync / ssh"
        exit 1
fi

declare -i LOGIDX={{ backup_client_keep_logs | int }}
while [ $LOGIDX -gt 1 ]; do
	declare -i BLOGIDX=$((LOGIDX--))
	[ -f "$LOGFILE.$LOGIDX" ] && mv "$LOGFILE.$LOGIDX" "$LOGFILE.$BLOGIDX"
done
[ -f "$LOGFILE" ] && mv "$LOGFILE" "$LOGFILE.1"
date > "$LOGFILE"


# stop services
for serv in $SERVICES; do
	service $serv stop >> "$LOGFILE" 2>&1
	EXITCODE=$((EXITCODE+$?))
	echo "EXITCODE=$EXITCODE after 'service $serv stop'" >>"$LOGFILE"
done

# databases
mkdir -p /var/tmp/backup-databases
for db in $DATABASES; do
	mysqldump --single-transaction $db > /var/tmp/backup-databases/$db.sql 2>>"$LOGFILE"
	EXITCODE=$((EXITCODE+$?))
	echo "EXITCODE=$EXITCODE after 'mysqldump --single-transaction $db'" >>"$LOGFILE"
done

{% if backup_client_exec_pre is defined %}
# backup_client_exec_pre
{% for pattern in backup_client_exec_pre %}
{{ pattern }} >> "$LOGFILE" 2>&1
EXITCODE=$((EXITCODE+$?))
echo "EXITCODE=$EXITCODE after '"'{{ pattern }}'"'" >>"$LOGFILE"
{% endfor %}
# end of backup_client_exec_pre block
{% endif %}

{% if backup_client_pve is defined and backup_client_pve %}
# start backup_client_pve block

{% if backup_client_pve_mountpoint not in backup_client_dirs and backup_client_pve_mountpoint ~ '/' not in backup_client_dirs %}
echo "backup_client_pve_mountpoint {{ backup_client_pve_mountpoint }} is missing from backup_client_dirs ({{ backup_client_dirs | join(';') }})" >>"$LOGFILE"
exit 10
{% endif %}

mkdir -p {{ backup_client_pve_mountpoint }}
declare -r VGNAME=$(pvesh get /storage/local-lvm --noheader --noborder | sed '/^vgname /!d;s/^vgname\s*//g')

# cleanup old snapshot LVMs nonintrusive
for LVP in $(lvdisplay | grep 'LV Path' | grep -e '-backup_client_pve$' | awk '{print $3}'); do
	lvremove $LVP
done

{% for pvehost, pvecfg in backup_client_pve.items() | list -%}
# pvehost {{ pvehost }}
LCXHOSTNAME=$(pct config {{ pvecfg.lcx_id }} | sed '/^hostname:/!d;s/^hostname: *//g')
echo "start backup tasks for container {{ pvecfg.lcx_id }} $LCXHOSTNAME ..." >>"$LOGFILE"
if [ "$(pct status {{ pvecfg.lcx_id }} | awk '{print $2}')" = "running" ]; then
	ROOTFS=$(pct config {{ pvecfg.lcx_id }} | sed '/^rootfs: local-lvm:/!d;s/^rootfs: *local-lvm://g;s/,.*$//g')
	if [ -z "$ROOTFS" ]; then
		echo "unable to deterim ROOTFS for $LCXHOSTNAME ({{ pvecfg.lcx_id }})" >>"$LOGFILE"
		EXITCODE=$((EXITCODE+11))
		{% if backup_client_pve_lcx_exitonerror | bool -%}
		exit 11
		{% endif -%}
	elif $(pct listsnapshot {{ pvecfg.lcx_id }} | grep  -q "\-> vm-{{ pvecfg.lcx_id }}-backup_client_pve "); then
		echo "ERROR: snapshot vm-{{ pvecfg.lcx_id }}-backup_client_pve exists for {{ pvecfg.lcx_id }} $LCXHOSTNAME" >>"$LOGFILE"
		EXITCODE=$((EXITCODE+11))
		{% if backup_client_pve_lcx_exitonerror | bool -%}
		exit 11
		{% endif -%}
	elif $(lvdisplay | grep 'LV Path' | grep -qe 'vm-{{ pvecfg.lcx_id }}-disk-[0-9]\+-backup_client_pve$'); then
		lvdisplay | grep 'LV Path' | grep -e 'vm-{{ pvecfg.lcx_id }}-disk-[0-9]\+-backup_client_pve$' >>"$LOGFILE" 2>&1
		echo "ERROR: found existing backup_client_pve LV for {{ pvecfg.lcx_id }} $LCXHOSTNAME" >>"$LOGFILE"
		EXITCODE=$((EXITCODE+11))
		{% if backup_client_pve_lcx_exitonerror | bool -%}
		exit 11
		{% endif -%}
	else
		{% for pctexec in pvecfg.lcx_commands | default([]) -%}
		pct exec {{ pvecfg.lcx_id }} -- {{ pctexec }} >> "$LOGFILE" 2>&1
		EXITCODE=$((EXITCODE+$?))
		echo "EXITCODE=$EXITCODE after '"'{{ pctexec }}'"'" >>"$LOGFILE"
		{% endfor %}{# end pctexec -#}
		{% if pvecfg.lcx_suspend | default(false) -%}
		pct suspend {{ pvecfg.lcx_id }} >> "$LOGFILE" 2>&1
		EXITCODE=$((EXITCODE+$?))
		echo "EXITCODE=$EXITCODE after pct suspend" >>"$LOGFILE"
		{% else -%}
		pct shutdown {{ pvecfg.lcx_id }} >> "$LOGFILE" 2>&1
		EXITCODE=$((EXITCODE+$?))
		echo "EXITCODE=$EXITCODE after pct shutdown" >>"$LOGFILE"
		{% endif %}{# end suspend/shutdown -#}
		# handle disks
		set -e
		# for now, we just support local-lvm
		mkdir -p {{ backup_client_pve_mountpoint }}/${LCXHOSTNAME}/ >>"$LOGFILE" 2>&1
		lvcreate -ay -Ky -n ${ROOTFS}-backup_client_pve -s /dev/${VGNAME}/$ROOTFS >>"$LOGFILE" 2>&1
		mount -o ro /dev/${VGNAME}/${ROOTFS}-backup_client_pve {{ backup_client_pve_mountpoint }}/${LCXHOSTNAME}/ >>"$LOGFILE" 2>&1
		while read d m; do
			lvcreate -ay -Ky -n ${d}-backup_client_pve -s /dev/${VGNAME}/$d >>"$LOGFILE" 2>&1
			mount -o ro /dev/${VGNAME}/${d}-backup_client_pve {{ backup_client_pve_mountpoint }}/${LCXHOSTNAME}${m} >>"$LOGFILE" 2>&1
		done < <(pct config {{ pvecfg.lcx_id }} | sed '/^mp[0-9]: local-lvm:/!d; s/^mp[0-9]: local-lvm://g; s/,mp=/ /g; s/,.*//g')
		set +e
		{% if pvecfg.lcx_suspend | default(false) -%}
		pct resume {{ pvecfg.lcx_id }} >> "$LOGFILE" 2>&1
		EXITCODE=$((EXITCODE+$?))
		echo "EXITCODE=$EXITCODE after pct resume" >>"$LOGFILE"
		sleep 5
		if [ "$(pct status {{ pvecfg.lcx_id }} | awk '{print $2}')" != "running" ]; then
			echo "WARNING: retrying resume for container {{ pvecfg.lcx_id }}" >>"$LOGFILE"
			pct resume {{ pvecfg.lcx_id }} >> "$LOGFILE" 2>&1
			EXITCODE=$((EXITCODE+$?))
			echo "EXITCODE=$EXITCODE after pct resume" >>"$LOGFILE"
			sleep 5
		fi
		{% else -%}
		pct start {{ pvecfg.lcx_id }} >> "$LOGFILE" 2>&1
		EXITCODE=$((EXITCODE+$?))
		echo "EXITCODE=$EXITCODE after pct start" >>"$LOGFILE"
		sleep 5
		if [ "$(pct status {{ pvecfg.lcx_id }} | awk '{print $2}')" != "running" ]; then
			echo "WARNING: retrying start for container {{ pvecfg.lcx_id }}" >>"$LOGFILE"
			pct start {{ pvecfg.lcx_id }} >> "$LOGFILE" 2>&1
			EXITCODE=$((EXITCODE+$?))
			echo "EXITCODE=$EXITCODE after pct start" >>"$LOGFILE"
			sleep 5
		fi
		{% endif %}{# end resume/start -#}
		pct status {{ pvecfg.lcx_id }} >>"$LOGFILE" 2>&1
	fi # end checks and prepare container
else
	echo "ERROR: lcx_id {{ pvecfg.lcx_id }} is not running" >>"$LOGFILE"
	EXITCODE=$((EXITCODE+12))
	{% if backup_client_pve_lcx_exitonerror | bool -%}
	exit 12
	{% endif -%}
fi
echo "container snap mount {{ pvecfg.lcx_id }} done" >>"$LOGFILE"
{% endfor -%}{# end for pvehost, pvecfg in backup_client_pve.items() | list -#}
# end of backup_client_pve block
{% endif %}

# real backup
# you can test the sending command by running
#  rsync -avz -e'ssh -v'  --delete root@srv:/etc/ root@srv:/.../ /tmp/x/ 2>&1 | grep "Sending command"
rsync --server --sender -vlogDtprRze.iLsfxC . \
	{{ backup_client_dirs | join(' ') }} \
	{% if backup_client_databases -%}
	/var/tmp/backup-databases/ \
	{% endif -%}
	2>>"$LOGFILE"

EXITCODE=$((EXITCODE+$?))
echo "EXITCODE=$EXITCODE after rsync" >>"$LOGFILE"

{% if backup_client_pve is defined and backup_client_pve %}
# start cleanup backup_client_pve block
{% for pvehost, pvecfg in backup_client_pve.items() | list -%}
# pvehost {{ pvehost }}
LCXHOSTNAME=$(pct config {{ pvecfg.lcx_id }} | sed '/^hostname:/!d;s/^hostname: *//g')
echo "start cleanup for container {{ pvecfg.lcx_id }} $LCXHOSTNAME ..." >>"$LOGFILE"
# register lvm devices
LVMS=$(findmnt -o SOURCE -n -R -y -c --mountpoint {{ backup_client_pve_mountpoint }}/${LCXHOSTNAME})
# umount
umount -A --recursive {{ backup_client_pve_mountpoint }}/${LCXHOSTNAME} >>"$LOGFILE" 2>&1
EXITCODE=$((EXITCODE+$?))
echo "EXITCODE=$EXITCODE after umount for $LCXHOSTNAME" >>"$LOGFILE"
for LVMDEV in $LVMS; do
	lvremove -y $LVMDEV >>"$LOGFILE" 2>&1
	EXITCODE=$((EXITCODE+$?))
	echo "EXITCODE=$EXITCODE after 'lvremove -y $LVMDEV' for $LCXHOSTNAME" >>"$LOGFILE"
done
echo "done cleanup for container {{ pvecfg.lcx_id }} $LCXHOSTNAME ..." >>"$LOGFILE"
{% endfor -%}{# end for pvehost, pvecfg in backup_client_pve.items() | list -#}
# end cleanup backup_client_pve block
{% endif %}

rm -rf /var/tmp/backup-databases >>"$LOGFILE" 2>&1
# start services
for serv in $SERVICES; do
	service $serv start >>"$LOGFILE" 2>&1
	EXITCODE=$((EXITCODE+$?))
	echo "EXITCODE=$EXITCODE after 'service $serv start'" >>"$LOGFILE"
done

{% if backup_client_exec_post is defined %}
# backup_client_exec_post
{% for pattern in backup_client_exec_post %}
{{ pattern }} >> "$LOGFILE" 2>&1
echo "EXITCODE=$EXITCODE after '"'{{ pattern }}'"'" >>"$LOGFILE"
{% endfor %}
# end of backup_client_exec_post
{% endif %}


echo "final EXITCODE=$EXITCODE" >>"$LOGFILE"

exit $EXITCODE
