#!/bin/bash

# {{ ansible_managed }}
#
# simple shell script to backup data from several hosts via rsync and ssh
#

declare -i RET=0
declare -r STATUSFILE="{{ backup_server_path_status }}"
declare -r LOGDIR="{{ backup_server_path_logdir }}"

> $STATUSFILE
mkdir -p "$LOGDIR"

{% for host in groups['backup_client'] %}
{% if hostvars[host].backup_client_dirs | default([]) %}
############################
# host: {{ host }}
############################
[ -f "$LOGDIR/{{ host }}.log" ] && mv "$LOGDIR/{{ host }}.log" "$LOGDIR/{{ host }}.log.1"
> "$LOGDIR/{{ host }}.log"
# will backup: {{ backup_client_dirs | join(' ') }}
logger -s -t backup "Starting backup of {{ host }} @ $(date)" | tee -a "$LOGDIR/{{ host }}.log"
rsync -avz -e'ssh -i {{ backup_server_path_sshkey }}' --delete --delete-excluded \
	{% for excl in hostvars[host].backup_client_exclude | default([]) -%}
	--exclude='{{excl}}' \
	{% endfor -%}
	{% for incl in hostvars[host].backup_client_dirs -%}
	--include='{{incl}}' \
	{% endfor -%}
	--exclude='/*' \
	{{ host }}:/ {{ backup_server_path_local }}/{{ host }}/ >>"$LOGDIR/{{ host }}.log" 2>&1
RET=$?
logger -s -t backup "Finished backup of {{ host }} @ $(date) with exit code $RET" | tee -a "$LOGDIR/{{ host }}.log"

# rotate count: {{ hostvars[host].backup_client_rotatecount_daily | default(0) }}
echo "{{ host }}: $RET" >> $STATUSFILE
{% endif %}
{% endfor %}

